<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345293862993-rhegf5afr4s7r4f2tr7m6d8qgn1btid1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345293862993-rhegf5afr4s7r4f2tr7m6d8qgn1btid1</string>
	<key>API_KEY</key>
	<string>AIzaSyAf1KrdsVG8uABYwccRopglxV8M8KFkzgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>345293862993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.caiogugedev.weatherIdea</string>
	<key>PROJECT_ID</key>
	<string>weatherproject-fd61a</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherproject-fd61a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345293862993:ios:150a363ebf0fe350ac2070</string>
</dict>
</plist>